*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(236, 231, 225);
}

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: #ff7b00;
    
}
.links{
    display: inline;
    color: blue;
    margin-right: 40px;
    text-decoration: none;

}
#titulo-da-tabela{
    line-height: 1.1em;
    color: blue;
    font-size: 90%;
}
.tabela{
    width: 90px;
    margin-left: 80%;
    float: left;
}
.ssection3{
    float: none;
}
.pictures {
    max-width: 100%;
    height: auto;
    text-align: center;
}
#video{
    float: inline-end;
}
]
#contato{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-style: italic;

}
footer{
    text-align: center;
    color: #0a1128;
}